<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.core.mapper.XmCollectMapper">

    <select id="selectListMapByWhere" resultType="HashMap">
        select * from xm_collect res
        <where>
            ${@com.mdp.Util@trimWhere(ew.customSqlSegment)}
            <!--下面可以添加更多查询条件，正常的if 条件都是支持的-->
            <include refid="whereForMap"></include>

        </where>
        <!--下面双引号内可以添加默认排序，如果前端没有上传排序，将使用引号内的排序规则-->
        ${@com.mdp.Util@trimOrderBy(ew.customSqlSegment,'')}
        <!--下面双引号内可以添加默认分组，如果前端没有上传分组，将使用引号内的分组规则-->
        ${@com.mdp.Util@trimGroupBy(ew.customSqlSegment,'')}
    </select>

    <select id="selectListMapByWhereWithState" resultType="HashMap">
        select res.*,s.* from xm_collect res left join xm_collect_state s on res.id=s.collect_id
        <where>
            ${@com.mdp.Util@trimWhere(ew.customSqlSegment)}
            <!--下面可以添加更多查询条件，正常的if 条件都是支持的-->
            <include refid="whereForMap"></include>
        </where>
        <!--下面双引号内可以添加默认排序，如果前端没有上传排序，将使用引号内的排序规则-->
        ${@com.mdp.Util@trimOrderBy(ew.customSqlSegment,'')}
        <!--下面双引号内可以添加默认分组，如果前端没有上传分组，将使用引号内的分组规则-->
        ${@com.mdp.Util@trimGroupBy(ew.customSqlSegment,'')}
    </select>


    <sql id="whereForMap"> 
        <if test="ext.ctimeStart!=null and ext.ctimeEnd!=null and ext.ctimeStart!='' and ext.ctimeEnd!='' ">and ctime between #{ext.ctimeStart} and #{ext.ctimeEnd}</if>
        <if test="ext.branchId!=null and ext.branchId!=''">
            and ( res.branch_id = #{ext.branchId})
        </if>
        <if test='(ext.id=="" or ext.id==null) '>
            and (
            exists(select 1 from xm_group_user gu inner join xm_collect_link l on gu.project_id=l.project_id where gu.userid=#{ext.myUserid} and l.collect_id=res.id)
            or (res.adm_userid= #{ext.myUserid} or res.cuserid=#{ext.myUserid})
            or (CASE
            WHEN res.open_lvl = '1' THEN
            res.branch_id = #{ext.linkBranchId}
            when res.open_lvl='3' then
            res.deptid_path like  CONCAT(#{ext.myIdPath},'%') or #{ext.myIdPath} like CONCAT(res.deptid_path,'%')
            when res.open_lvl='4' then
            res.deptid_path like CONCAT(#{ext.myIdPath},'%')
            when res.open_lvl='5' then
            #{ext.myIdPath} like CONCAT(res.deptid_path,'%')
            when res.open_lvl='6' then
            res.deptid=#{ext.myDeptid}
            end))
        </if>
    </sql>
</mapper>