<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mdp.sys.mapper.BranchInterestsMapper">

    <select id="selectListMapByWhere" resultType="HashMap">
        select * from sys_branch_interests res
        <where>
            ${@com.mdp.Util@trimWhere(ew.customSqlSegment)}
        </where>
    </select>

    <update id="updateAfterBidSuccess" parameterType="HashMap">
        update sys_branch_interests
        <set>
            <if test="at!=null">ctotal_at=ifnull(ctotal_at,0)+#{at},</if>
            <if test="exp!=null">ctotal_exp=ifnull(ctotal_exp,0)+#{exp},</if>
            <if test="bids!=null">cmonth_bids=ifnull(cmonth_bids,0)+#{bids},</if>
            <if test="bids!=null">ctotal_bids=ifnull(ctotal_bids,0)+#{bids},</if>
            <if test="ctotalReceiveAt!=null">ctotal_receive_at=#{ctotalReceiveAt},</if>
        </set>
        where branch_id=#{branchId}
    </update>
    <update id="updateCurrUsersAfterChangeUser" parameterType="String">
        update sys_branch_interests res left join ( select #{branchId} as branch_id, count(*) as curr_users from sys_user u where u.branch_id=#{branch_id})  as u on u.branch_id=res.branch_id
        set res.curr_users=ifnull(u.curr_users,0),res.ltime=now()
        where res.branch_id=#{branchId}
    </update>
    <select id="detailMap" parameterType="String" resultType="HashMap">
        select res.*,b.branch_name,b.img_url from sys_branch_interests res left join sys_branch b on res.branch_id=b.id
        <where>
            res.branch_id=#{branchId}
        </where>
    </select>
</mapper>