<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mdp.sys.mapper.UserCreditRecordMapper">

    <select id="selectListMapByWhere" resultType="HashMap">
        select * from sys_user_credit_record res
        <where>
            ${@com.mdp.Util@trimWhere(ew.customSqlSegment)}
        </where>
    </select>

    <select id="sumCreditScoreByUserid" parameterType="String" resultType="Integer">
        select sum(ifnull(res.score,0)) as score from sys_user_credit_record res
        where userid=#{userid}
    </select>

    <select id="selectCredScoreGroupByBizType" parameterType="com.mdp.sys.entity.UserCreditRecord" resultType="com.mdp.sys.entity.UserCreditRecord">
        select sum(ifnull(res.score,0)) as score,max(biz_type) as biz_type from sys_user_credit_record res
        where userid=#{userid} and biz_type=#{bizType}
    </select>
</mapper>